body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background: #222;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s ease;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}
